.MuiAppBar-root{
  background-color: white !important;
  color: black !important;
  margin: 0 !important;
  width: 100%;
}

h1 {
  margin-left: 3%;
}

#cart {
  margin-left:85%;
  margin-right: 5%;
}

.MuiGrid-item {
  display: flex;
  align-items: center;
}