.MuiAppBar-root{
  background-color: white !important;
  color: black !important;
  margin: 0 !important;
  width: 100%;
  padding: 13px;
}

#link {
  margin-left: 3%;
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

#cart {
  margin-left:85%;
  margin-right: 5%;
}

.MuiGrid-item {
  display: flex;
  align-items: center;
}